In [9]:
import numpy as np
import pandas as pd

### Checking for NaN values

In [10]:
df = pd.DataFrame({'one' : [1, np.nan, 3], 'two' : [4, 5, np.nan], 'three' : [7, 8, 9]})
display(df)

   one  two  three
0  1.0  4.0      7
1  NaN  5.0      8
2  3.0  NaN      9

### Remove a row if a particular column contains NaN

In [11]:
df2 = df.dropna(subset=['one'])
display(df2)

   one  two  three
0  1.0  4.0      7
2  3.0  NaN      9